Flask==3.0.3
gunicorn==21.2.0
waitress==2.1.2
qrcode==7.4.2
Pillow==10.4.0
mercadopago==2.2.0

# TELEGRAM
python-telegram-bot==20.7

# SUPABASE STACK (alineado a httpx 0.27)
supabase==2.4.1
gotrue==2.4.4

# HTTPX NUEVO (con parámetro "proxy")
httpx>=0.27,<0.28